<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings>
  <add name="AzureStorageAccount" connectionString="DefaultEndpointsProtocol=https;AccountName=buildblob;AccountKey=WXRjv3YLgZXzH2VmZMvCOBY4DcBhbjrgffayeR0Wct8Gzi148XSySXTS8B02u6QC0FeCoNJKAS/5Mw+1k/ffIA==;EndpointSuffix=core.windows.net"/>  
       </connectionStrings>
<appSettings>
  <add key="SourceFolder" value="c:\LocalBlobs"/>  
   <add key="DestFolder" value="blobwave"/>
</appSettings>
</configuration>
